/* Ticketshow.module.css */

.container {
  display: flex;
  flex-direction: column;
}

.cardcolor {
  position: relative;
}

.trackStatusLink {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  color: #007bff; /* Adjust color as needed */
  text-decoration: none;
}

.trackIcon {
  margin-right: 5px;
}

.screenshotContainer {
  margin-top: 10px;
}

.screenshot {
  max-width: 100%;
  height: auto;
}

.select {
  width: 50%;
}

.ticketbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.ticketbutton:disabled {
  background-color: #c6c8ca;
  cursor: not-allowed;
}

.spinner {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border: 0.15em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
}

.trackStatusLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #007bff;
}

.trackIcon {
  margin-right: 8px;
}

.trackStatusLink:hover {
  text-decoration: underline;
}


@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}
